@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button,
a,
[role="button"],
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}
